#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.card {
  padding: 2em;
  display: block;
  display: flex;
  flex-direction: column;
  text-align: left;
}

div.output {
  margin-top: 1em;
  padding: 1em;
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: monospace;
  font-size: 1.2em;
  text-align: left;
  color: darkslategrey;
}