<header>
  <a id="logo" href="">
    <img id="gemini-logo" src="static/images/gemini-logo.svg" height="40px">
    <span id="patterns-text">Patterns</span>
  </a>
  <a id="github" href="https://github.com/google/labs-prototypes/tree/main/seeds/gemini-guide">GitHub</a>
</header>
